.chats-page {
  display: grid;
  grid-template-columns: minmax(18vw, auto) minmax(75vw, auto);
  grid-column-gap: 20px; /* Adjust as needed */
}

.chat-list-container h2{
  border: 4px solid #707070;
  border-radius: 6px;
}

.left-column {
  min-width: 18vw;
  max-width: 18vw;
}

.right-column {
  min-width: 75vw;
  max-width: 75vw;
}

.chat-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  border: 2px solid #707070;
  border-radius: 15px;

  
}

.chat-list ul li {
  padding: 8px 0px;
}

.message-card {
  font-size:14pt;
  max-height: 70vh;
  min-height: 70vh;

  overflow-y: auto;

  border: 2px solid #707070;
  border-radius: 6px;
}

.chat-list-button {
  display: block;
  width: 90%;
  padding: 10px 10px; 
  font-size: 16px;
  background-color: #707070;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;

  margin: 0 auto;
  transition: background-color .75s ease, color .75s ease;
}

.chat-list-button p {
  margin-block-end: 0em;
  margin-block-start: 10px;
}

.chat-list-button:hover {
  background-color: #fff;
  color: black;
}

.message {
  border: 2px solid #707070;
  border-radius: 6px;

  margin: 20px;
}

.message p {
  margin-left: 10px;
}