#root {
  min-width: 85%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.left-column {
  width: 20%;
  float: left;
}

.right-column {
  width: 80%;
  float: right;
  text-align: left;
}